CunaApi1/CunaApi1.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "documentdb_1_Connection_Name": {
      "type": "string",
      "defaultValue": "documentdb"
    },
    "documentdb_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "cunaconnection"
    },
    "documentdb_1_databaseAccount": {
      "type": "string",
      "metadata": {
        "description": "Name of the account without 'documents.azure.com' part"
      },
      "defaultValue": "cunacosmosdb1"
    },
    "documentdb_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Primary or Secondary Key"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Respond_with_the_new_request_id": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "body": "@variables('newRequestId')"
              },
              "runAfter": {
                "Call_a_third_party_service,_sending_the_callback_id": [
                  "Succeeded"
                ]
              }
            },
            "Generate_a_new_id_for_this_request": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "newRequestId",
                    "type": "string",
                    "value": "@{guid()}"
                  }
                ]
              },
              "runAfter": {}
            },
            "Save_the_new_request": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "id": "@{variables('newRequestId')}",
                  "body": "@{triggerBody()?['body']}",
                  "status": "CREATED",
                  "detail": "Newly created from the initial API 1 request",
                  "createdTimestamp": "@{variables('creationTimestamp')}"
                },
                "headers": {
                  "x-ms-documentdb-raw-partitionkey": "\"@{variables('newRequestId')}\""
                },
                "path": "/dbs/@{encodeURIComponent('cunadb1')}/colls/@{encodeURIComponent('cunacontainer')}/docs"
              },
              "runAfter": {
                "Capture_current_timestamp": [
                  "Succeeded"
                ]
              }
            },
            "Call_a_third_party_service,_sending_the_callback_id": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "http://example.com/request",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "body": "@{triggerBody()?['body']}",
                  "callback": "/callback/@{variables('newrequestid')}"
                }
              },
              "runAfter": {
                "Save_the_new_request": [
                  "Succeeded"
                ]
              }
            },
            "Create_or_update_document": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "id": "@{variables('newrequestid')}",
                  "body": "@{triggerBody()?['body']}",
                  "detail": "An error occurred calling the third party API",
                  "status": "ERROR",
                  "createdTimestamp": "@{variables('creationTimestamp')}",
                  "modifiedTimestamp": "@utcnow()"
                },
                "headers": {
                  "x-ms-documentdb-raw-partitionkey": "\"@{variables('newRequestId')}\"",
                  "x-ms-documentdb-is-upsert": true
                },
                "path": "/dbs/@{encodeURIComponent('cunadb1')}/colls/@{encodeURIComponent('cunacontainer')}/docs"
              },
              "runAfter": {
                "Call_a_third_party_service,_sending_the_callback_id": [
                  "Failed"
                ]
              }
            },
            "Respond_with_the_error_status_code": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": "@outputs('Call_a_third_party_service,_sending_the_callback_id')['statusCode']",
                "body": "Error calling third party service"
              },
              "runAfter": {
                "Create_or_update_document": [
                  "Succeeded"
                ]
              }
            },
            "Capture_current_timestamp": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "creationTimestamp",
                    "type": "string",
                    "value": "@{utcnow()}"
                  }
                ]
              },
              "runAfter": {
                "Generate_a_new_id_for_this_request": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "request": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "string"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]",
                "connectionName": "[parameters('documentdb_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('documentdb_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'documentdb')]"
        },
        "displayName": "[parameters('documentdb_1_Connection_DisplayName')]",
        "parameterValues": {
          "databaseAccount": "[parameters('documentdb_1_databaseAccount')]",
          "accessKey": "[parameters('documentdb_1_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}